.taskCard {
  padding: 14px;
  margin: 20px 0;
  gap: 15px;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-bg);
  border-radius: 6px;
  box-shadow: 2px 2px 8px var(--card-shadow);
  cursor: grab;
  transition: transform 0.2s ease;
}
.taskCard:hover {
  box-shadow: 4px 4px 12px var(--card-shadow);
  transform: scale(1.03);
}

.taskCard.dragging {
  opacity: 0.5;
  transform: scale(1.05);
}

.taskCard div {
  font-size: 17px;
  font-weight: 500;
}

.editContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.editContainer input {
  flex-grow: 1;
  padding: 8px;
  font-size: 14px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}
.editContainer input:focus {
  border-color: var(--accent-color);
}

.taskCard button {
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.save-button {
  background-color: #28a745;
  color: var(--button-text);
}
.save-button:hover {
  background-color: #218838;
}

.delete-button {
  background-color: #ce0f01;
  color: var(--button-text);
}
.delete-button:hover {
  background-color: #d32f2f;
}

.taskTitle {
  font-size: 16px;
  font-weight: 500;
  color: var(--secondary-text);
  padding: 6px 8px;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out;
  cursor: text;
}
.taskTitle:hover {
  background-color: rgba(0, 123, 255, 0.1);
  transform: scale(1.02);
}
.taskTitle:active {
  background-color: rgba(0, 123, 255, 0.2);
  transform: scale(0.98);
}

.priority {
  color: var(--button-bg);
  font-size: 14px;
  font-weight: bold;
  display: flex;
  gap: 7px;
}
.high {
  color: #ff3b30;
}
.medium {
  color: #ff9500;
}
.low {
  color: #34c759;
}
